$black: #000000;
$white: #ffffff;
$title: #ffff00;
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: $black;
}

.title {
  color: $title;
  font-size: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
  color: $white;
  background-color: $black;
  margin: 20px 0;
  flex-direction: row;
  .right {
    padding: 20px;
    max-width: 500px;
    p, h2 {
      padding-bottom: 10px;
    }
  }
}

.card {
  background: $white;
  border: 1px solid $black;
  transition: background 200ms, border 200ms;
  cursor: pointer;
  margin: 10px;

  h2 {
    font-weight: 500;
    margin: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0.5rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background-color: $black;
    color: $white;
    border: 1px solid $white;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {

  .top {
    flex-direction: column;
    align-items: center;
  }
}
